.app {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .app__background {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background:
      radial-gradient(circle closest-side at 60% 43%, rgb(255, 211, 223) 26%, rgba(187,0,51,0) 27%),
      radial-gradient(circle closest-side at 40% 43%, rgb(255, 211, 223) 26%, rgba(187,0,51,0) 27%),
      radial-gradient(circle closest-side at 40% 22%, rgb(248, 195, 206) 45%, rgba(221,51,85,0) 46%),
      radial-gradient(circle closest-side at 60% 22%, rgb(248, 195, 206) 45%, rgba(221,51,85,0) 46%),
      radial-gradient(circle closest-side at 50% 35%, rgb(248, 195, 206) 30%, rgba(221,51,85,0) 31%),
  
      radial-gradient(circle closest-side at 60% 43%, rgb(255, 211, 223) 26%, rgba(187,0,51,0) 27%) 50px 50px,
      radial-gradient(circle closest-side at 40% 43%, rgb(255, 211, 223) 26%, rgba(187,0,51,0) 27%) 50px 50px,
      radial-gradient(circle closest-side at 40% 22%, rgb(248, 195, 206) 45%, rgba(221,51,85,0) 46%) 50px 50px,
      radial-gradient(circle closest-side at 60% 22%, rgb(248, 195, 206) 45%, rgba(221,51,85,0) 46%) 50px 50px,
      radial-gradient(circle closest-side at 50% 35%, rgb(248, 195, 206) 30%, rgba(221,51,85,0) 31%) 50px 50px;
    background-color:rgb(255, 211, 223);
    background-size:100px 100px;
  }
  
  .card {
    background: white;
    width: 25rem;
    height: 35rem;
    padding: 1.5rem;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 1);
  }